# Зависимости
node_modules/
vendor/

# Сборка
dist/
frontend/dist/

# Бинарные файлы
*.exe
*.exe~
backend/*.exe
backend/*.exe~
dist/*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Local storage data
backend/data/